<!-- web/templates/page/index.html.eex -->
<%= if System.get_env("MIX_ENV") == "dev" or ""@current_user do %>
  <div id="elm-container"></div>
<% else %>
  <%= link to: auth_path(@conn, :index, "github"), class: "btn btn-primary" do %>
    Sign in with Github
  <% end %>
<% end %>

