.content-section {
  float: right;
  width: 80%;
}

.user-section {
  float: left;
  width: 20%;
  height: 100%;
  margin-top: 20px;
}

.results-section {
  margin-top: 50px;
}

.list-element {
  margin-bottom: 20px;
}

img {
  width: 100px;
  height: 100px;
  display: inline-block;
}